div.userForm {
  display: block;
  margin: 1em;
  width: 20em;  
}

div.userForm form {
  padding-top: 2em;
  padding-bottom: 2em;
}

div.signup {
  border: solid 2px #57007D;
  background-color: #D173FA;
}

#signupForm {
  border-top: solid 1px #57007D;
  background-color: #F4DAFE;
}

div.login {
  border: solid 2px #270043;
  background-color: #9E2AF1;
}

#loginForm {
  display: block;
  border-top: solid 1px #270043;
  background-color: #C47FF5;
  padding-top: 2em;
  padding-bottom: 2em;
}

h3.title {
  margin-left: 2em;
}

div.field {
  display: block;
  padding: 0.3em;
} 

label {
  display: inline-block;
  width: 5em;
  margin-right: 0.5em;
  text-align: right;
}

input {
  display: inline-block;
  width: 12em;
}

button {
  display: block;
  width: 9em;
  margin: 1em auto;
}